$small: 500px;

.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgba(255, 255, 255);
  box-shadow: 24;
  padding: 14px;
  border-radius: 4px;

  @media screen and (max-width: $small) {
    width: 90vw;
  }
}
