.app {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    position: sticky;
    top: 0;
    width: calc(100% - 20px);
    background: #fff;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 14%);

    .control_panel {
      display: flex;
      justify-content: space-between;
    }
  }
}

a {
  text-decoration: none;
}
